{
    "root": true,
    "plugins": [
        "import",
        "@typescript-eslint"
    ],
    "extends": [
        // "./tsconfig.json",
        "airbnb",
        "airbnb-typescript",
    ],
    "rules": {
        "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"]}],
        // "react/no-unescaped-entities": 0 
        // "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        // "no-console": 0

        // "react/jsx-filename-extension": "off"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module"
    },

}
