.App {
  display:'inline-block';
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.27;
  width: 30vw;
  height: 100vh;
  border-right: 1vh solid rgba(0,0,0, 0.1);
  background-color: #2f3135; 
}

.chat1 {
  display: flex;
  overflow: hidden; /* Hide scrollbars */

  flex: 0.85;
  /* background-color: red;  */
}
