.channel{
    display: flex ;
    color:gray;
    cursor: pointer;
    align-items: center;
    padding: 0px;
    padding-left: 50px;
}

.icon {
    padding-right: 5px;
}

.channel:hover {
    color:white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
}