.sidebarContent {
    display: flex;
    flex-direction: column;
    flex: 1.6;
    width: 100%;
    height: 100%;
    
    overflow:  hidden;
    border-right: 1vh solid rgba(0,0,0, 0.1);
    background-color: #313338; 
  }
.testong{
    display:'inline-block';
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.chat {
    display: flex;
    flex: 0.85;
    background-color: #313338; 
}
 
.addIcon:hover {
    color: white;
}

.profile {
    border-bottom: 4px solid rgba(0,0,0, 0.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    /* height: 100px; */
    padding-bottom: 0;
    padding-top: 0;
    color: gray;
}

.sidebar_bottom {
    /* display: inli; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    line-break: auto;
    /* align-content: flex-end; *
    /
    /* align-items: center; */
    margin-top:auto;
    padding: 5vh;
    height: 0px;
    color: white;
    border-top: 4px solid rgba(0,0,0, 0.3);
}


.scrollView{
    overflow-y: auto;
    background-color: transparent;
}

.add_text_channels:hover {
    /* background-color: violet; */
    cursor: pointer;
    color: white;
}
.sidebar_channels_title {
    flex: 1;
    
}

.sidebar_channels_header:hover{
    color: white;
    cursor: pointer;
}

.sidebar_channels_header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px!imppor; */
}

.sidebar_content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #313338;
    color: gray;
}
.avatar {
    padding-left: 0%;
    padding-right: 7px;
}
.profileInformation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: top 0;
    padding-bottom: 0;
    padding-top: 0;
    color: gray;
}

.logout {
    padding-right: 10px;
}

.logout:hover {
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
