.sidebar {
   display: flex;
   flex-direction: column;
   flex: 0.23;
   height: 100vh;
   overflow: overlay;

   background-color: #2f3135; 
}
.sidebar_top {
    /* display: inli; */
    /* justify-content: ; */
    /* align-content: flex-end; */
    /* align-items: center; */
    margin-top:auto;
    padding: 13px;
    color: white;
    border-top: 4px solid rgba(0,0,0, 0.4);
}


.scrollView{
    overflow: overlay;
    overflow-y: scroll;
    overflow-y: auto;
    background-color: transparent;
}

.add_text_channels:hover {
    /* background-color: violet; */
    cursor: pointer;
    color: white;
}
.sidebar_channels_title {
    flex: 1;
    
}

.sidebar_channels_header:hover{
    color: white;
    cursor: pointer;
}

.sidebar_channels_header{
    display: flex;
    align-items: center;
    /* margin-top: 10px!imppor; */
}

.sidebar_content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
}
.avatar {
    padding-left: 0%;
    padding-right: 7px;
}
.profile {
    border-bottom: 4px solid rgba(0,0,0, 0.4);

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    height: 100px;
    padding-bottom: 0;
    padding-top: 0;
    color: gray;
}

.profileInformation {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    color: gray;
}

.logout {
    padding-right: 10px;
}

.logout:hover {
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
